@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: rgb(28, 28, 28);
  --red: #bb000e;
}

@font-face {
  font-family: Sansita-Regular;
  src: url(/fonts/Sansita-Regular.ttf);
}



html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: "Sansita-Regular";
}
